# Account Verification
Enhancing account verification processes utilizing digital wallets and identifying credentials curbs fake accounts, sockpuppetry, social bots and cyborgs across the Web. Curbing social bots is an effective strategy for mitigating the spread of online misinformation [1].

"We find evidence that social bots play a key role in the spread of fake news. Accounts that actively spread misinformation are significantly more likely to be bots. Automated accounts are particularly active in the early spreading phases of viral claims, and tend to target influential users. Humans are vulnerable to this manipulation, retweeting bots who post false news. Successful sources of false and biased claims are heavily supported by social bots. These results suggests that curbing social bots may be an effective strategy for mitigating the spread of online misinformation." [1]

[1] Shao, Chengcheng, Giovanni Luca Ciampaglia, Onur Varol, Alessandro Flammini, and Filippo Menczer. "The spread of fake news by social bots." _arXiv preprint arXiv:1707.07592_ (2017). [[https://arxiv.org/pdf/1707.07592.pdf](https://arxiv.org/pdf/1707.07592.pdf)]
