# Account Verification
Enhancing account verification processes utilizing digital wallets and identifying credentials curbs fake accounts, sockpuppets, social bots and cyborgs across the Web. Curbing social bots is an effective strategy for mitigating the spread of online misinformation [1].

[1] Shao, Chengcheng, Giovanni Luca Ciampaglia, Onur Varol, Alessandro Flammini, and Filippo Menczer. "The spread of fake news by social bots." _arXiv preprint arXiv:1707.07592_ (2017). [https://arxiv.org/pdf/1707.07592.pdf]
